attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.4
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
colorama
configobj
constantly
cryptography
distro
distro-info
ec2-hibinit-agent
httplib2
hyperlink
idna
importlib-metadata
incremental
jeepney
Jinja2
jsonpatch
jsonpointer
jsonschema
keyring
launchpadlib
lazr.restfulclient
lazr.uri
MarkupSafe
more-itertools
netifaces
oauthlib
pexpect
ptyprocess
pyasn1
pyasn1-modules
PyGObject
PyHamcrest
PyJWT
pyOpenSSL
pyparsing
pyrsistent
pyserial
python-magic
pytz
PyYAML
requests
SecretStorage
service-identity
six
slack-sdk
sockets
sos
ssh-import-id
systemd-python
Twisted
ubuntu-advantage-tools
ufw
unattended-upgrades
urllib3
wadllib
zipp
zope.interface
